header {
    position: relative;
    background-color: #1D1F76;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    #menuOpen {
        order: 2;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 12px;
        right: 15px;
        z-index: 999;
        img {
            width: 25px;
        }
    }


    #app-title {
        margin: 0;
    }

    #mobile-nav {
        position: absolute;
        top: -400%;
        left: 0;
        width: 100%;
        background-color: #1D1F76;
        z-index: 1;
        transition: top 1s;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            li {
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 20px;
                    display: block;
                }
                #menuClose {
                    order: 2;
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    top: 164px;
                    right: 15px;
                    z-index: 999;
                    width: 25px;
                }
            }
            li:first-child {
                a {
                    font-size: 24px;
                }
            }
        }
    }
    #mobile-nav.on {
        top: 0;
    }

    // 미디어 쿼리 적용
    @media screen and (max-width: 480px) {
        #mobile-nav ul li a {
            font-size: 18px;
        }

    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        #mobile-nav ul li a {
            font-size: 20px;
        }
    }
}
